<app-row>
    <app-col>
        <h2>{{ displayName }}</h2>
    </app-col>
</app-row>
<app-row>
    <app-col>
        <app-snippet [snippet]="snippet1" (snippetChanged)="onSnippetChanged($event, '1')"></app-snippet>
    </app-col>
    <app-col>
        <app-snippet [snippet]="snippet2" (snippetChanged)="onSnippetChanged($event, '2')"></app-snippet>
    </app-col>
</app-row>
<app-row>
    <app-col>
        <app-button>Vote</app-button>
    </app-col>
    <app-col>
        <app-button>Vote</app-button>
    </app-col>
</app-row>