<app-section *ngIf="codevote; else skeleton">
    <app-row>
        <app-creator [creator]="codevote?.creator" [createdAt]="codevote?.createdAt | date:'shortDate'"></app-creator>
    </app-row>
    <app-row>
        <app-col>
            <app-snippet [snippet]="codevote?.snippet1"></app-snippet>
            <app-snippet-bar>
                <app-snippet-love-button
                    [snippetId]="codevote?.snippet1?.id"
                    [codevoteId]="codevote?.id"
                    *ngIf="isAuthenticated">
                </app-snippet-love-button>
                <app-snippet-edit-button *ngIf="canEdit" (click)="onOpenEditModal()"></app-snippet-edit-button>
                <app-snippet-percentage [snippet]="codevote?.snippet1" [counterSnippet]="codevote?.snippet2"></app-snippet-percentage>
            </app-snippet-bar>
        </app-col>
        <app-col>
            <app-snippet [snippet]="codevote?.snippet2"></app-snippet>
            <app-snippet-bar>
                <app-snippet-love-button
                    [snippetId]="codevote?.snippet2?.id"
                    [codevoteId]="codevote?.id"
                    *ngIf="isAuthenticated">
                </app-snippet-love-button>
                <app-snippet-edit-button *ngIf="canEdit" (click)="onOpenEditModal()"></app-snippet-edit-button>
                <app-snippet-percentage [snippet]="codevote?.snippet2" [counterSnippet]="codevote?.snippet1"></app-snippet-percentage>
            </app-snippet-bar>
        </app-col>
    </app-row>
</app-section>

<app-modal *ngIf="editModal"
    (close)="onCloseEditModal()"
    title="Edit snippets">
    <app-edit-codevote
        [codevote]="codevote"
        (onSuccess)="onCloseEditModal()">
    </app-edit-codevote>
</app-modal>

<ng-template #skeleton>
    <app-section>
        <app-row>
            <app-col>
                <app-skeleton height="6rem"></app-skeleton>
            </app-col>
        </app-row>
        <app-row>
            <app-col>
                <app-skeleton height="46rem"></app-skeleton>
                <app-skeleton height="11rem"></app-skeleton>
            </app-col>
            <app-col>
                <app-skeleton height="46rem"></app-skeleton>
                <app-skeleton height="11rem"></app-skeleton>
            </app-col>
        </app-row>
    </app-section>
</ng-template>