button {
	border: none;
	cursor: pointer;
}

.button {
	font-size: 1.4rem;
	line-height: 1.4rem;
	padding: .8rem;
	display: inline-block;
	text-decoration: none;
	background-color: red;
	border-radius: .8rem;
	color: white;
}
