@import 'settings';

.button {
	border: none;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
}

.button:disabled {
	background-color: $color-dark;
	cursor: not-allowed;
}

.button {
	font-size: $font-size-default;
	line-height: $font-size-default;
	padding: $unit-default;
	background-color: $color-primary;
	border-radius: $unit-default;
	color: $color-light;
	margin-bottom: $unit-default;
}
