@import 'settings';
@import 'tools';

$size-mobile: 4rem;
$size-desktop: 8rem;

.creator {
    margin: $unit-default;
    position: relative;
    display: flex;
    align-items: center;
}

.creator__profile {
    width: $size-mobile;
    height: $size-mobile;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    img {
        max-width: 100%;
    }

    @include breakpoint('small') {
        width: $size-desktop;
        height: $size-desktop;
    }
}

.creator__display-name {
    margin-left: $size-mobile;
    padding-left: $unit-large;

    h1 {
        margin: 0;
    }

    p {
        margin: 0;
        font-size: $font-size-small;
    }

    @include breakpoint('small') {
        margin-left: $size-desktop;
    }
}