<app-section>
    <app-row>
        <app-col>
            <h1>Codevote</h1>
            <p>Create code snippets, share and vote.</p>
            <app-button [disabled]="!isAuthenticated" (click)="onAddSnippet()">Create codevote</app-button>
        </app-col>
    </app-row>
</app-section>

<app-section color="mid">
    <app-row>
        <app-col>
            <h2>Top {{ allCodevotes.length }} codevotes:</h2>
        </app-col>
    </app-row>
    <app-row>
        <app-col>
            <ng-container *ngIf="allCodevotes.length; else skeleton">
                <app-horizontal-scroll>
                    <app-horizontal-scroll-item *ngFor="let codevote of allCodevotes">
                        <app-snippet-preview
                            (click)="onViewCodevote(codevote.id)"
                            [codevote]="codevote"
                            >
                        </app-snippet-preview>
                    </app-horizontal-scroll-item>
                </app-horizontal-scroll>
            </ng-container>
            <ng-template #skeleton>
                <app-skeleton height="34.9rem"></app-skeleton>
            </ng-template>
        </app-col>
    </app-row>
</app-section>
