<app-section>
    <app-row>
        <app-col>
            <h1>Codevote</h1>
            <p>Create code snippets, share and vote.</p>
            <app-button [disabled]="!isAuthenticated" (click)="onAddSnippet()">Create codevote</app-button>
        </app-col>
    </app-row>
</app-section>

<app-section color="mid">
    <app-row>
        <app-col>
            <h2>Top 5 codevotes:</h2>
        </app-col>
    </app-row>
    <app-row>
        <app-col>
            <!-- Make horizontal-scroll more dynamic -->
            <ng-container *ngIf="allCodevotes.length; else skeleton">
                <app-horizontal-scroll height="35.5rem" width="177.5rem">
                        <ng-container *ngFor="let codevote of allCodevotes; let i = index">
                            <app-snippet-preview *ngIf="i < 5"
                                (click)="onViewCodevote(codevote.id)"
                                [codevote]="codevote"
                                >
                            </app-snippet-preview>
                        </ng-container>
                </app-horizontal-scroll>
            </ng-container>
            <ng-template #skeleton>
                <app-skeleton height="33.9rem"></app-skeleton>
            </ng-template>
        </app-col>
    </app-row>
</app-section>
