<app-section>
    <app-row>
        <app-col>
            <h1>Create codevote</h1>
            <app-input
                placeholder="Title snippet 1"
                [(value)]="titleSnippet1"
            ></app-input>
            <app-input
                placeholder="Title snippet 2"
                [(value)]="titleSnippet2"
            ></app-input>
            <app-button [disabled]="isInvalid()" (click)="onCreateCodevote()">Create codevote</app-button>
        </app-col>
    </app-row>
</app-section>
