@import 'settings';

.snippet {
    background-color: $color-dark;
    margin-bottom: $unit-default;
    position: relative;
    border-radius: $unit-default;
    cursor: pointer;
    transform: scale(1);
    transition-duration: .3s;
    transition-property: transform;
}

.snippet:hover {
    transform: scale(.95);
}

// Feels little crappy
.snippet ::ng-deep textarea {
    cursor: pointer;
}

.snippet__title {
    padding: $unit-large;
    background-color: darken($color-dark, 10%);
    border-top-left-radius: $unit-default; 
    border-top-right-radius: $unit-default;
    color: darken($color-light, 20%);
    user-select: none;
}

.snippet__content {
    padding: $unit-large;
    position: relative;
}
